
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="dash-style.css"/>
    <title>Trips Dashboard World!</title>
  </head>
  <body>
    <h1>Trips Info </h1>
    <body>
      <a href="/trips">Go Back</a>
      <h3>Total Count of Stations: <%= Trip.count %></h3>

    </body>
  </html>
