<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../show-style.css"/>
    <title>Bike Share World!</title>
  </head>
  <body>
    <h1>Add trip</h1>
    <div class="contain">
    <form action="/trips" method= "post">
      <label>Duration</label>
      <input class="mytext" type= "text" name= "trip[duration]"><br/>
      <label>Start Date</label>
      <input class="mytext" type= "text" name= "trip[start_date]"><br/>
      <label>start_station</label>
      <input class="mytext" type= "text" name= "trip[start_station]"><br/>
      <label>End Date</label>
      <input class="mytext" type= "text" name= "trip[end_date]"><br/>
      <label>End Station</label>
      <input class="mytext" type= "text" name= "trip[end_station]"><br/>
      <label>Bike ID</label>
      <input class="mytext" type= "text" name= "trip[bike_id]"><br/>
      <label>Subscription Type</label>
      <input class="mytext" type= "text" name= "trip[subscription_type]"><br/>
      <label>Zip Code</label>
      <input class="mytext" type= "text" name= "trip[zip_code]"><br/>
      <input type= "submit">
    </form>
  </div>
    <div class="footer">
      <a href="/trips">Go Back</a>
    </div>
  </body>
</html>
