<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@stations.each do |station|%>
    <p><%= station.name %></p>
    <% end %>
    <p><%= will_paginate @pages %></p>
  </body>
</html>
