<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/alvarotrigo/pagePiling.js/master/jquery.pagepiling.min.js"></script>
        <script type="text/javascript">
		$(document).ready(function() {
			/*
			* Plugin intialization
			*/
	    	$('#pagepiling').pagepiling({
	    		menu: '#menu',
	    		anchors: ['page1', 'page2', 'page3', 'page4'],

			    navigation: {
			    	'position': 'right',
			   		'tooltips': ['Page 1', 'Page 2', 'Page 3', 'Page 4']
			   	},
			    afterRender: function(){
			    	$('#pp-nav').addClass('custom');
			    },
			    afterLoad: function(anchorLink, index){
			    	if(index>1){
			    		$('#pp-nav').removeClass('custom');
			    	}else{
			    		$('#pp-nav').addClass('custom');
			    	}
			    }
			});
			/*
		    * Internal use of the demo website
		    */
		    $('#showExamples').click(function(e){
				e.stopPropagation();
				e.preventDefault();
				$('#examplesList').toggle();
			});
			$('html').click(function(){
				$('#examplesList').hide();
			});
	    });
    </script>
    </head>
    <body>


    	<div id="pagepiling">
    	    <div class="section" id="section1">
              <h1>Bike Share</h1>
              <ul id="menu">
            		<li data-menuanchor="page2"><a href="#page2">Stations</a></li>
            		<li data-menuanchor="page3"><a href="#page3">Station Analytics</a></li>
            		<li data-menuanchor="page4"><a href="#page4">Team</a></li>
            	</ul>
    			<br />

    	    </div>
    	    <div class="section" id="section2">
    	    	<div class="intro">
              <h2>Bike Stations</h2>
              <hr>
    	    	</div>
    	    </div>
    	    <div class="section" id="section3">
    	    	<div class="intro">
    	    		<h1>Configurable</h1>
    	    		<p>Plenty of options, methods and
    	    	</div>
    	    </div>
    	    <div class="section" id="section4">
            <h1>Our Team</h1>
            <h4>Who are we?</h4>
            <div class="autowide">
            	<div class="module">
                <img src="https://avatars2.githubusercontent.com/u/19578346?v=3&s=460" alt="" />
                <h2>Michael Centrelli</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores sequi sint ipsa alias amet. Numquam voluptatum maiores. Ab repellat dolores quo quas quam quasi voluptatem delectus aperiam. Deleniti accusamus dolore!</p>
                <hr>
                <a href='https://twitter.com/Mcentrelli'>
                  <img src="http://www.jainsanjay.com/images/twitter.png"></a>
                <a href='https://github.com/mcents'>
                <img src="https://image.flaticon.com/icons/png/512/23/23957.png"></a>
                <a href='https://www.linkedin.com/in/michaelcentrelli/'>
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"></a>
            	</div>
            	<div class="module">
                <img src="https://avatars0.githubusercontent.com/u/25907721?v=3&s=460" alt="" />
                <h2>Ash Vaid</h2>
            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quis veniam accusantium molestias rerum distinctio a quidem numquam illo veritatis recusandae odit consectetur esse nobis alias earum quia omnis sed!</p>
                <hr>
                <a href='https://twitter.com/Mcentrelli'>
                  <img src="http://www.jainsanjay.com/images/twitter.png"></a>
                <a href='https://github.com/mcents'>
                <img src="https://image.flaticon.com/icons/png/512/23/23957.png"></a>
                <a href='https://www.linkedin.com/in/michaelcentrelli/'>
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"></a>
            	</div>
            	<div class="module">
                <img src="https://avatars2.githubusercontent.com/u/26772297?v=3&s=460" alt="" />
                <h2>JF Lalonde</h2>
            		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem repellendus pariatur esse vel ex iure id sunt voluptatibus atque ut commodi ad aliquam assumenda. Facilis soluta cumque mollitia officiis dolorum!</p>
                <hr>
                <a href='https://twitter.com/Mcentrelli'>
                  <img src="http://www.jainsanjay.com/images/twitter.png"></a>
                <a href='https://github.com/mcents'>
                <img src="https://image.flaticon.com/icons/png/512/23/23957.png"></a>
                <a href='https://www.linkedin.com/in/michaelcentrelli/'>
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"></a>
            	</div>
            	<div class="module">
                <img src="https://avatars1.githubusercontent.com/u/25143074?v=3&s=460" alt="" />
                <h2>Will Ratterman</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis harum suscipit ducimus quisquam doloremque dolorum tenetur dolore libero optio quam delectus blanditiis dicta fuga impedit commodi adipisci aperiam?</p>
                <hr>
                <a href='https://twitter.com/Mcentrelli'>
                  <img src="http://www.jainsanjay.com/images/twitter.png"></a>
                <a href='https://github.com/mcents'>
                <img src="https://image.flaticon.com/icons/png/512/23/23957.png"></a>
                <a href='https://www.linkedin.com/in/michaelcentrelli/'>
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"></a>
            	</div>
            </div>
            </div>
    	    </div>
    	</div>

    </body>
    </html>
